.backgroundMask {
  position: relative;
  margin-top: 15vw;
  &::before {
    content: "";
    @include backgroundImage("../resources/global/greyMask.svg", 100%);
    position: absolute;
    right: 50%;
    top: 0px;
    width: 200vw;
    height: 10vw;
    z-index: -1;
    transform: translate(25%, -100%);
  }

  &_smallMargin {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .backgroundMask {
    &::before {
      width: 200vw;
    }
  }
}
