.sectionTitle,
.sectionSubTitle {
  line-height: 150%;
  text-align: center;
}

.sectionTitle {
  font-weight: 500;
  font-size: 36px;
  color: #333333;
  &_margin {
    margin-bottom: 65px;
  }

  &_blue {
    color: #416bab;
  }
  &_white {
    color: #fdfefe;
  }
}

.sectionSubTitle {
  font-size: 20px;
  color: #888c9b;
  &_margin {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 26px;

    &_margin-big {
      margin-bottom: 30px;
    }
  }

  .sectionSubTitle {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .sectionTitle {
    font-size: 22px;
  }

  .sectionSubTitle {
    font-size: 16px;
  }
}
