.customInput {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: end;
  align-items: center;
  text-align: end;
  gap: 2rem;

  &_textArea {
    margin-bottom: 1.5rem;
    align-self: start;

    .customInput__text {
      align-self: start;
    }

    textarea {
      resize: none;
    }
    .customInput__input {
      height: 12rem;
    }
  }

  &__text {
    font-family: Rubik;
    font-size: 2rem;
    color: #416bab;
  }

  &__text {
    width: 100%;
    &_required {
      &::before {
        content: "*";
        color: #ad6fa1;
        margin-right: 0.3rem;
      }
    }
  }

  &__input {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #dfe4e8;
    border-radius: 0.4rem;
    max-width: 44rem;
    width: 100%;
    min-height: 4rem;
    padding: 0.8rem 2rem;
    font-size: 1.6rem;
    &::placeholder {
      font-family: Rubik;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: #adadad;
    }
  }
}

@media (max-width: 768px) {
  .customInput {
    &__text {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 650px) {
    .customInput {
      grid-template-columns: 1fr;
      justify-content: center;
      justify-items: center;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .customInput {
    gap: 1rem;
    &__text {
      font-size: 1.6rem;
    }
    &__input {
      padding: 0.8rem 1rem;
      font-size: 1.6rem;
      &::placeholder {
        font-size: 1.2rem;
      }
    }
  }
}
