.firstScreen {
  @include backgroundImage("../resources/contacts/firstScreen/1.png", cover);
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
    z-index: -1;
  }

  &::after {
    background: linear-gradient(0deg, rgba(65, 107, 171, 0.3), rgba(65, 107, 171, 0.3));
    z-index: 1;
  }

  &::before {
    z-index: 1;
    background-color: #231f20;
    opacity: 0.5;
  }

  &__wrapper {
    max-width: 850px;
    width: 100%;
  }

  &__container {
    position: relative;
    z-index: 2;
    color: #fdfefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    min-height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: start;
  }

  &__sectionTitle {
    text-align: start;
  }

  &__text {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-bottom: 20px;

    &_bold {
      font-weight: 700;
    }

    &_red {
      color: #eb5757;
    }
  }

  &__ulList {
    margin-bottom: 20px;
  }

  &__li {
    margin: 0;
    position: relative;
    padding-left: 10px;
    display: inline-flex;
    // align-items: center;
    margin-bottom: 5px;

    &::before {
      content: "";
      transform: translateY(200%);
      min-width: 5px;
      max-width: 5px;
      min-height: 5px;
      max-height: 5px;
      border-radius: 100%;
      background-color: white;
      margin-right: 5px;
    }
  }

  &__buttonLinkWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(137px, max-content));
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
  }

  &__buttonLink {
    min-width: 137px;
    min-height: 39px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 16px;
    color: inherit;
    &_white {
      color: #333333;
      background-color: white;
    }
  }

  &__link {
    font-size: 20px;
    color: #fdfefe;
    border-bottom: 1px solid white;
  }
}

@media (max-width: 768px) {
  .firstScreen {
    &__text {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .firstScreen {
    &__title {
      font-size: 26px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
