.contacts {
  @include backgroundImage("../resources/mainPage/background-5.svg", cover);
}

.writeUs {
  padding-bottom: 100px;
  margin-top: 200px;
  &__container {
    max-width: 970px;
  }

  &__customInput {
    margin-bottom: 30px;
  }

  &__form {
    width: 100%;
    max-width: 650px;
  }

  &__subTitle,
  &__form {
    margin-bottom: 50px;
  }

  &__sectionTitle {
    margin-bottom: 10px;
  }

  &__note {
    & > * {
      grid-column: 2;
    }

    & > p {
      text-align: start;
    }
  }

  &__wrapper {
    border: 1px solid #dfe4e8;
    background: rgba(52, 118, 164, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    width: 100%;
    max-width: 100%;
    &_small {
      font-size: 14px;
    }
  }

  &__button {
    background: #416bab;
    border-radius: 8px;
    min-width: 140px;
    min-height: 40px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #fdfefe;
    padding: 5px;
  }
}

@media (max-width: 1024px) {
  .writeUs {
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .writeUs {
    margin-top: 100px;

    &__wrapper {
      padding: 30px;
    }

    &__subTitle,
    &__form {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 650px) {
  .writeUs {
    &__note {
      & > * {
        grid-column: 1/2 span;
      }

      & > p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 480px) {
  .writeUs {
    &__wrapper {
      padding: 15px;
    }
    &__text,
    &__button {
      font-size: 14px;
    }
  }
}
