.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  &_defaultTopSpace {
    padding-top: 150px;
  }
}

.waveBackground {
  background-color: $backgroundWaveMask;
}

main {
  padding-bottom: 150px;
}

main.noBottomPadding {
  padding-bottom: 0;
}

.wrapper {
  font-family: "Fira Sans";
  overflow: hidden;
  position: relative;
  &_mainPage {
    .header {
      background-color: rgba(65, 107, 171, 0.2);
    }
  }

  &_headerStatic {
    .header {
      position: relative;
    }
  }
}

.innerPageSpace {
  padding-top: 40px;
  &__sectionTitle {
    margin-bottom: 50px;
  }
}

body.overlay {
  &::after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: z(overlay);
  }
}

@media (max-width: 1024px) {
  .container {
    &_defaultTopSpace {
      padding-top: 100px;
    }
  }

  main {
    padding-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .container {
    &_defaultTopSpace {
      padding-top: 70px;
    }
  }

  main {
    padding-bottom: 70px;
  }
}
