.customInput {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: end;
  align-items: center;
  text-align: end;
  gap: 20px;

  &_textArea {
    margin-bottom: 15px;
    align-self: start;

    .customInput__text {
      align-self: start;
    }

    textarea {
      resize: none;
    }
    .customInput__input {
      height: 120px;
    }
  }

  &__text {
    font-family: Rubik;
    font-size: 20px;
    color: #416bab;
  }

  &__text {
    width: 100%;
    &_required {
      &::before {
        content: "*";
        color: #ad6fa1;
        margin-right: 3px;
      }
    }
  }

  &__input {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #dfe4e8;
    border-radius: 4px;
    max-width: 440px;
    width: 100%;
    min-height: 40px;
    padding: 8px 20px;
    font-size: 16px;
    &::placeholder {
      font-family: Rubik;
      font-size: 14px;
      line-height: 21px;
      color: #adadad;
    }
  }
}

@media (max-width: 768px) {
  .customInput {
    &__text {
      font-size: 18px;
    }
  }

  @media (max-width: 650px) {
    .customInput {
      grid-template-columns: 1fr;
      justify-content: center;
      justify-items: center;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .customInput {
    gap: 10px;
    &__text {
      font-size: 16px;
    }
    &__input {
      padding: 8px 10px;
      font-size: 16px;
      &::placeholder {
        font-size: 12px;
      }
    }
  }
}
