$dateHeight: 20px;

.calculator {
  background-color: $backgroundWaveMask;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 500px;
    display: block;
    z-index: -1;
    top: -13%;
    left: -18%;
    @include backgroundImage("../resources/mainPage/background-3.svg", contain);
  }

  &__gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding-bottom: $dateHeight;
  }

  &__leftSpace {
    padding-left: 50px;
  }

  &__name {
    margin-bottom: 20px;
  }

  &__subName {
    margin-top: 10px;
    font-size: 14px;
    color: #888c9b;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #ad6fa1;
    &_uppercase {
      text-transform: uppercase;
    }
  }

  #resultSum,
  #discount {
    padding-left: 10px;
  }
}

.progressBar {
  &__line {
    border-radius: 2px;
    background: #ad6fa1;
    height: 4px;
    position: relative;
    margin-bottom: $dateHeight;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__date {
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #fdfefe;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 15px;
    min-height: $dateHeight;
    background: #ad6fa1;
    left: 0;
    min-width: 80px;
    width: 100%;
    max-width: 80px;
    transition: 0.3s ease;
    &::after {
      content: "";
      display: block;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 0 50%, 0% 0%);
      position: absolute;
      background-color: #ad6fa1;
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .calculator {
    &__leftSpace {
      padding-left: 30px;
    }
  }
}

@media (max-width: 768px) {
  .calculator {
    &__text {
      font-size: 18px;
    }
  }
}

@media (max-width: 650px) {
  .calculator {
    &__gridWrapper {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 480px) {
  .calculator {
    &__leftSpace {
      padding-left: 0px;
    }

    &__text,
    &__subName {
      text-align: center;
    }

    &__text {
      font-size: 16px;
    }
  }
}
