.partners {
  background-color: $backgroundWaveMask;
  padding-bottom: 150px;
  &__container {
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__image {
    margin: 30px 45px;
    max-width: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 768px) {
  .partners {
    &__image {
      margin: 20px 30px;
    }
  }
}
