$maskHeight: 120px;

.footer {
  color: #fdfefe;
  font-family: "Rubik";
  background-color: #416bab;
  padding-bottom: 50px;
  position: relative;
  margin-top: $maskHeight / 2;
  z-index: 1;
  &::before {
    display: block;
    width: 100%;
    min-width: 110%;
    height: $maskHeight;
    content: "";
    position: absolute;
    top: 0px;
    transform: translate(-50%, -50%);
    left: 50%;
    background: #416bab;
    border-radius: 50%;
    z-index: -1;
  }
  &__container {
    display: grid;
    grid-template-columns: minmax(200px, auto) minmax(200px, 280px) minmax(160px, 280px);
    gap: 50px;
  }
}

.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 280px;
  width: 100%;

  & > :not(:last-child) {
    margin-bottom: 20px;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
  }

  &__text {
    font-size: 14px;
    color: #fdfefe;
    line-height: 150%;
    display: block;
    &_orange {
      color: #efc579;
    }
  }
}

.logotypes {
  max-width: 310px;
  width: 100%;
  &__row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    & > :not(:last-child) {
      margin-right: 20px;
    }
  }

  &__addition,
  &__main {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__main {
    max-width: 100%;
    width: 100%;
    margin: 20px 0 50px 0;
  }
}

@media (max-width: 1024px) {
  .logotypes {
    max-width: 260px;

    &__main {
      height: 50px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 700px) {
  .logotypes {
    max-width: 200px;
    &__row {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  .footer {
    &__container {
      grid-template-columns: 1fr;
      justify-content: center;
      justify-items: center;
      gap: 50px;
    }
  }

  .footerColumn {
    max-width: 100%;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .footer {
    &__container {
      gap: 35px;
    }
  }

  .logotypes {
    max-width: 160px;

    &__main {
      margin: 0px 0 30px 0;
    }
    &__row {
      max-width: 100%;
    }
  }
}
