.customCheckbox {
  background-color: #fdfefe;
  border: 1px solid #dfe4e8;
  padding: 20px 30px 20px 50px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: relative;
  transition: 0.3s ease;
  &_active {
    border: 1px solid #ad6fa1;
    background-color: rgba(173, 111, 161, 0.1);
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    padding-left: 20px;
    position: relative;
    letter-spacing: 0.01em;
    margin-right: 30px;
    &::before {
      content: "";
      top: 50%;
      left: 5px;
      position: absolute;
      min-width: 10px;
      max-width: 10px;
      min-height: 10px;
      max-height: 10px;
      background-color: #ad6fa1;
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  &__input:checked + &__icon {
    @include backgroundImage("../resources/icons/mark.svg", 80%);
  }

  &__icon {
    display: block;
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
    background-color: #f2f2f2;
    border: 1px solid #dfe4e8;
    box-shadow: inset 0px 0px 3px rgba(82, 82, 82, 0.15);
    border-radius: 2px;
  }
}

@media (max-width: 1024px) {
  .customCheckbox {
    padding: 10px 20px 10px 30px;
  }
}

@media (max-width: 768px) {
  .customCheckbox {
    padding: 10px 10px 10px 15px;
  }
}

@media (max-width: 700px) {
  .customCheckbox {
    &__text {
      font-size: 14px;
      margin-right: 20px;
    }
  }
}
