.customCheckbox {
  background-color: #fdfefe;
  border: 1px solid #dfe4e8;
  padding: 2rem 3rem 2rem 5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: 0.3s ease;
  &_active {
    border: 1px solid #ad6fa1;
    background-color: rgba(173, 111, 161, 0.1);
  }

  &__text {
    font-size: 1.6rem;
    line-height: 150%;
    padding-left: 2rem;
    position: relative;
    letter-spacing: 0.01em;
    margin-right: 3rem;
    &::before {
      content: "";
      top: 50%;
      left: 0.5rem;
      position: absolute;
      min-width: 1rem;
      max-width: 1rem;
      min-height: 1rem;
      max-height: 1rem;
      background-color: #ad6fa1;
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  &__input:checked + &__icon {
    @include backgroundImage("../resources/icons/mark.svg", 80%);
  }

  &__icon {
    display: block;
    min-width: 1.5rem;
    max-width: 1.5rem;
    min-height: 1.5rem;
    max-height: 1.5rem;
    background-color: #f2f2f2;
    border: 1px solid #dfe4e8;
    box-shadow: inset 0px 0px 3px rgba(82, 82, 82, 0.15);
    border-radius: 0.2rem;
  }
}

@media (max-width: 1024px) {
  .customCheckbox {
    padding: 1rem 2rem 1rem 3rem;
  }
}

@media (max-width: 768px) {
  .customCheckbox {
    padding: 1rem 1rem 1rem 1.5rem;
  }
}

@media (max-width: 700px) {
  .customCheckbox {
    &__text {
      font-size: 1.4rem;
      margin-right: 2rem;
    }
  }
}
