@charset "UTF-8";
/* abstracts */
/* mixins */
/* exemple - .overlay {
  z-index: z(overlay);
}
 */
/* for z-index layers */
/* base */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 10px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

address > * {
  font-style: normal;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*--------------------*/
.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

.container_defaultTopSpace {
  padding-top: 150px;
}

.waveBackground {
  background-color: rgba(65, 107, 171, 0.05);
}

main {
  padding-bottom: 150px;
}

main.noBottomPadding {
  padding-bottom: 0;
}

.wrapper {
  font-family: "Fira Sans";
  overflow: hidden;
  position: relative;
}

.wrapper_mainPage .header {
  background-color: rgba(65, 107, 171, 0.2);
}

.wrapper_headerStatic .header {
  position: relative;
}

.innerPageSpace {
  padding-top: 40px;
}

.innerPageSpace__sectionTitle {
  margin-bottom: 50px;
}

body.overlay::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
}

@media (max-width: 1024px) {
  .container_defaultTopSpace {
    padding-top: 100px;
  }
  main {
    padding-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .container_defaultTopSpace {
    padding-top: 70px;
  }
  main {
    padding-bottom: 70px;
  }
}

/* layout */
.header {
  position: absolute;
  max-width: 100%;
  width: 100%;
  z-index: 110;
  background-color: #416bab;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__logo {
  max-width: 115px;
  width: 100%;
  height: 25px;
}

.header__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: -200%;
  padding: 150px 40px 0 40px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  min-width: 290px;
  max-width: 25vw;
  width: 100%;
  z-index: 99;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}

.navigation.active {
  right: 0%;
}

.navigation__link {
  font-weight: bold;
  font-size: 30px;
  line-height: 110%;
  color: #fdfefe;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navigation__link:not(:last-of-type) {
  margin-bottom: 30px;
}

.navigation__link:hover {
  color: #efc579;
}

.burgerIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 16px;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.burgerIcon::after, .burgerIcon::before,
.burgerIcon span {
  content: "";
  position: absolute;
  left: 0%;
  border-radius: 3px;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.burgerIcon span {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.burgerIcon::after {
  top: 0%;
}

.burgerIcon::before {
  top: 100%;
}

.burgerIcon.active span {
  opacity: 0;
}

.burgerIcon.active::after, .burgerIcon.active::before {
  top: 50%;
}

.burgerIcon.active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burgerIcon.active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .navigation {
    padding-top: 100px;
  }
}

@media (max-width: 480px) {
  .navigation {
    padding-left: 30px;
    padding-right: 30px;
  }
  .navigation__link {
    font-size: 24px;
  }
}

.footer {
  color: #fdfefe;
  font-family: "Rubik";
  background-color: #416bab;
  padding-bottom: 50px;
  position: relative;
  margin-top: 60px;
  z-index: 1;
}

.footer::before {
  display: block;
  width: 100%;
  min-width: 110%;
  height: 120px;
  content: "";
  position: absolute;
  top: 0px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  background: #416bab;
  border-radius: 50%;
  z-index: -1;
}

.footer__container {
  display: grid;
  grid-template-columns: minmax(200px, auto) minmax(200px, 280px) minmax(160px, 280px);
  gap: 50px;
}

.footerColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 280px;
  width: 100%;
}

.footerColumn > :not(:last-child) {
  margin-bottom: 20px;
}

.footerColumn__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}

.footerColumn__text {
  font-size: 14px;
  color: #fdfefe;
  line-height: 150%;
  display: block;
}

.footerColumn__text_orange {
  color: #efc579;
}

.logotypes {
  max-width: 310px;
  width: 100%;
}

.logotypes__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logotypes__row > :not(:last-child) {
  margin-right: 20px;
}

.logotypes__addition img, .logotypes__main img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logotypes__main {
  max-width: 100%;
  width: 100%;
  margin: 20px 0 50px 0;
}

@media (max-width: 1024px) {
  .logotypes {
    max-width: 260px;
  }
  .logotypes__main {
    height: 50px;
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .logotypes {
    max-width: 200px;
  }
  .logotypes__row {
    max-width: 80%;
    margin: 0 auto;
  }
  .footer__container {
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    gap: 50px;
  }
  .footerColumn {
    max-width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 480px) {
  .footer__container {
    gap: 35px;
  }
  .logotypes {
    max-width: 160px;
  }
  .logotypes__main {
    margin: 0px 0 30px 0;
  }
  .logotypes__row {
    max-width: 100%;
  }
}

/* components */
.sectionTitle,
.sectionSubTitle {
  line-height: 150%;
  text-align: center;
}

.sectionTitle {
  font-weight: 500;
  font-size: 36px;
  color: #333333;
}

.sectionTitle_margin {
  margin-bottom: 30px;
}

.sectionTitle_margin-big {
  margin-bottom: 65px;
}

.sectionTitle_blue {
  color: #416bab;
}

.sectionTitle_white {
  color: #fdfefe;
}

.sectionSubTitle {
  font-size: 20px;
  color: #888c9b;
}

.sectionSubTitle_margin {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 26px;
  }
  .sectionTitle_margin-big {
    margin-bottom: 30px;
  }
  .sectionSubTitle {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .sectionTitle {
    font-size: 22px;
  }
  .sectionSubTitle {
    font-size: 16px;
  }
}

.backgroundMask {
  position: relative;
  margin-top: 12vw;
}

.backgroundMask::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../resources/global/greyMask.svg");
  position: absolute;
  right: 50%;
  top: 0px;
  width: 200vw;
  height: 10vw;
  z-index: -1;
  -webkit-transform: translate(25%, -100%);
      -ms-transform: translate(25%, -100%);
          transform: translate(25%, -100%);
}

.backgroundMask_smallMargin {
  margin-top: 0;
}

@media (max-width: 768px) {
  .backgroundMask::before {
    width: 200vw;
  }
}

/* abstracts */
/* mixins */
/* exemple - .overlay {
  z-index: z(overlay);
}
 */
/* for z-index layers */
/* vendors - code from side sources and Libraries */
/* layout */
.firstScreen {
  position: relative;
  min-height: 100vh;
}

.firstScreen::after, .firstScreen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  display: block;
  z-index: -1;
}

.firstScreen__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  max-height: 100vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.firstScreen::after {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(66, 107, 171, 0.3)), to(rgba(66, 107, 171, 0.3)));
  background: -o-linear-gradient(bottom, rgba(66, 107, 171, 0.3), rgba(66, 107, 171, 0.3));
  background: linear-gradient(0deg, rgba(66, 107, 171, 0.3), rgba(66, 107, 171, 0.3));
}

.firstScreen__container {
  color: #fdfefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
}

.firstScreen__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: 0.01em;
  margin-bottom: 35px;
}

.firstScreen__text {
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 50px;
  max-width: 700px;
}

.firstScreen__buttonLinkWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(137px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(137px, max-content));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
}

.firstScreen__buttonLink {
  min-width: 137px;
  min-height: 39px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 16px;
  color: inherit;
}

.firstScreen__buttonLink_white {
  color: #333333;
  background-color: white;
}

.firstScreen__link {
  font-size: 20px;
  color: #fdfefe;
  border-bottom: 1px solid white;
}

@media (max-width: 768px) {
  .firstScreen__title {
    font-size: 36px;
  }
  .firstScreen__text {
    font-size: 20px;
  }
  .firstScreen__buttonLink {
    font-size: 14px;
  }
  .firstScreen__link {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .firstScreen__container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .firstScreen__title {
    font-size: 28px;
  }
  .firstScreen__text {
    font-size: 18px;
  }
  .firstScreen__buttonLink {
    font-size: 14px;
  }
  .firstScreen__link {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .firstScreen__text {
    font-size: 16px;
  }
  .firstScreen__buttonLink {
    font-size: 14px;
  }
  .firstScreen__link {
    font-size: 14px;
  }
}

.features {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../resources/mainPage/background-1.svg");
  background-position: top right;
}

.features__container {
  padding-top: 100px;
}

.features__title {
  margin-bottom: 70px;
}

.features__gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  gap: 50px;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .features__container {
    padding-top: 70px;
  }
  .features__gridWrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.block__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-top: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_bacgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../resources/mainPage/background-2.svg");
  background-position: top right 30%;
}

.block_bacgroundImage-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../resources/mainPage/background-3.svg");
  background-position: top left;
}

.block_bacgroundImage-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contai n;
  background-image: url("../resources/mainPage/background-4.svg");
  background-position: center bottom;
}

.block__image {
  width: 100%;
  height: 100%;
}

.block__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 30px;
}

.block__text {
  font-size: 16px;
  line-height: 150%;
  color: #888c9b;
}

.block__text:not(:last-of-type) {
  margin-bottom: 15px;
}

.block__li:not(:last-of-type) {
  margin-bottom: 0px;
}

@media (min-width: 769px) {
  .block__image {
    height: 0;
    position: relative;
    padding-bottom: 74%;
  }
  .block__image img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: 481px) {
  .block_reversSides .block_column {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .block_reversSides .block__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .block__column {
    max-width: 400px;
    text-align: center;
    margin: -50px auto 0 auto;
    position: relative;
    padding: 20px;
    z-index: 2;
    background-color: white;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
  }
}

@media (max-width: 768px) {
  .block__container {
    display: block;
  }
  .block__column {
    text-align: center;
  }
  .block__image {
    max-width: 480px;
    margin: 0 auto;
  }
  .block__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
  }
  .block__text {
    font-size: 16px;
    line-height: 150%;
    color: #888c9b;
  }
}

@media (max-width: 480px) {
  .block__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .block__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .block__text {
    font-size: 14px;
  }
}

.modules__gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../resources/mainPage/background-3.svg");
  background-position: center top;
}

@media (max-width: 700px) {
  .modules__gridWrapper {
    grid-template-columns: 1fr;
  }
}

.calculator {
  position: relative;
}

.calculator::before {
  content: "";
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 500px;
  display: block;
  z-index: -1;
  top: -13%;
  left: -18%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../resources/mainPage/background-3.svg");
}

.calculator__gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.calculator__leftSpace {
  padding-left: 50px;
}

.calculator__name {
  margin-bottom: 20px;
}

.calculator__subName {
  margin-top: 10px;
  font-size: 14px;
  color: #888c9b;
}

.calculator__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #ad6fa1;
}

.calculator__text_uppercase {
  text-transform: uppercase;
}

.calculator #resultSum,
.calculator #discount {
  padding-left: 10px;
}

.progressBar__line {
  border-radius: 2px;
  background: #ad6fa1;
  height: 4px;
  position: relative;
  margin-bottom: 20px;
}

.progressBar__text {
  margin-bottom: 20px;
}

.progressBar__date {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #fdfefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0px 15px;
  min-height: 20px;
  background: #ad6fa1;
  left: 0;
  min-width: 80px;
  width: 100%;
  max-width: 80px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.progressBar__date::after {
  content: "";
  display: block;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 0 50%, 0% 0%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 0 50%, 0% 0%);
  position: absolute;
  background-color: #ad6fa1;
  width: 20px;
  height: 20px;
}

@media (max-width: 1024px) {
  .calculator__leftSpace {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .calculator__text {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .calculator__gridWrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .calculator__leftSpace {
    padding-left: 0px;
  }
  .calculator__text, .calculator__subName {
    text-align: center;
  }
  .calculator__text {
    font-size: 16px;
  }
}

.partners {
  padding-bottom: 150px;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.partners__image {
  margin: 30px 45px;
  max-width: 200px;
}

.partners__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 768px) {
  .partners__image {
    margin: 20px 30px;
  }
}

/* components */
.cardColumn__image {
  margin-bottom: 30px;
  width: 100%;
  max-width: 140px;
  height: 160px;
}

.cardColumn__image img {
  width: 100%;
  height: 100%;
}

.cardColumn__title {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #333333;
}

.cardColumn__text {
  font-size: 16px;
  line-height: 150%;
  color: #888c9b;
}

.moduleCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fdfefe;
  border: 1px solid #dfe4e8;
  -webkit-box-shadow: 0px 5px 19px rgba(89, 89, 89, 0.25);
          box-shadow: 0px 5px 19px rgba(89, 89, 89, 0.25);
  border-radius: 8px;
  padding: 35px 50px;
}

.moduleCard__image {
  max-width: 160px;
  width: 100%;
  margin-right: 30px;
}

.moduleCard__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.moduleCard__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 10px;
}

.moduleCard__text {
  font-size: 16px;
  line-height: 150%;
  color: #888c9b;
  letter-spacing: 0.01em;
}

@media (max-width: 1024px) {
  .moduleCard {
    display: block;
    padding: 25px 30px;
    text-align: center;
  }
  .moduleCard__image {
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 768px) {
  .moduleCard__image {
    max-width: 120px;
  }
  .moduleCard__title {
    font-size: 18px;
  }
  .cardColumn__image {
    margin: 0 auto 30px auto;
    max-width: 110px;
    height: 130px;
  }
  .cardColumn__title, .cardColumn__text {
    text-align: center;
  }
  .cardColumn__title {
    font-size: 18px;
  }
  .cardColumn__text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .moduleCard {
    padding: 20px;
  }
  .moduleCard__image {
    margin-bottom: 20px;
  }
  .moduleCard__title {
    font-size: 16px;
  }
  .moduleCard__text {
    font-size: 14px;
  }
  .cardColumn__text {
    font-size: 14px;
  }
}

.customCheckbox {
  background-color: #fdfefe;
  border: 1px solid #dfe4e8;
  padding: 20px 30px 20px 50px;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.customCheckbox_active {
  border: 1px solid #ad6fa1;
  background-color: rgba(173, 111, 161, 0.1);
}

.customCheckbox__text {
  font-size: 16px;
  line-height: 150%;
  padding-left: 20px;
  position: relative;
  letter-spacing: 0.01em;
  margin-right: 30px;
}

.customCheckbox__text::before {
  content: "";
  top: 50%;
  left: 5px;
  position: absolute;
  min-width: 10px;
  max-width: 10px;
  min-height: 10px;
  max-height: 10px;
  background-color: #ad6fa1;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.customCheckbox__input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.customCheckbox__input:checked + .customCheckbox__icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-image: url("../resources/icons/mark.svg");
}

.customCheckbox__icon {
  display: block;
  min-width: 15px;
  max-width: 15px;
  min-height: 15px;
  max-height: 15px;
  background-color: #f2f2f2;
  border: 1px solid #dfe4e8;
  -webkit-box-shadow: inset 0px 0px 3px rgba(82, 82, 82, 0.15);
          box-shadow: inset 0px 0px 3px rgba(82, 82, 82, 0.15);
  border-radius: 2px;
}

@media (max-width: 1024px) {
  .customCheckbox {
    padding: 10px 20px 10px 30px;
  }
}

@media (max-width: 768px) {
  .customCheckbox {
    padding: 10px 10px 10px 15px;
  }
}

@media (max-width: 700px) {
  .customCheckbox__text {
    font-size: 14px;
    margin-right: 20px;
  }
}

/* pages */
