.sectionTitle,
.sectionSubTitle {
  line-height: 150%;
  text-align: center;
}

.sectionTitle {
  font-weight: 500;
  font-size: 3.6rem;
  color: #333333;
  &_margin {
    margin-bottom: 3rem;
  }

  &_margin-big {
    margin-bottom: 6.5rem;
  }

  &_blue {
    color: #416bab;
  }
  &_white {
    color: #fdfefe;
  }
}

.sectionSubTitle {
  font-size: 2rem;
  color: #888c9b;
  &_margin {
    margin-bottom: 4rem;
  }
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 2.6rem;

    &_margin-big {
      margin-bottom: 3rem;
    }
  }

  .sectionSubTitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .sectionTitle {
    font-size: 2.2rem;
  }

  .sectionSubTitle {
    font-size: 1.6rem;
  }
}
