/* abstracts */
@import "./_abstracts/mixins.scss";
@import "./_abstracts/variables.scss";
@import "./_abstracts/functions.scss";

@import "./vendors/animate.min.scss";

/* base */
@import "./_base/fonts.scss";
@import "./_base/reset.scss";
@import "./_base/mainContainer.scss";

/* layout */
@import "./layout/header";
@import "./layout/footer";

/* components */
@import "./components/text";
@import "./components/sectionWaveMask";

.animate-delay-0-5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-delay: calc(var(--animate-delay) * 0.2);
  animation-delay: calc(var(--animate-delay) * 0.2);
}

.animate-customSpeed-600 {
  --animate-duration: 0.6s;
}

.animate-customSpeed-900 {
  --animate-duration: 0.9s;
}

.animate-customSpeed-1200 {
  --animate-duration: 1.2s;
}

.animate-customSpeed-1500 {
  --animate-duration: 1.5s;
}

body.IE {
  display: none !important;
}
