.features {
  @include backgroundImage("../resources/mainPage/background-1.svg", contain);
  background-position: top right;

  &__container {
    padding-top: 100px;
  }

  &__title {
    margin-bottom: 70px;
  }

  &__gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
    justify-content: space-between;
    justify-items: center;
    gap: 50px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .features {
    &__container {
      padding-top: 70px;
    }

    &__gridWrapper {
      justify-content: center;
    }
  }
}
