.features {
  @include backgroundImage("../resources/mainPage/background-1.svg", contain);
  background-position: top right;

  &__container {
    padding-top: 10rem;
  }

  &__title {
    margin-bottom: 7rem;
  }

  &__gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 22rem));
    justify-content: space-between;
    justify-items: center;
    gap: 5rem;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .features {
    &__container {
      padding-top: 7rem;
    }

    &__gridWrapper {
      justify-content: center;
    }
  }
}
