.firstScreen {
  position: relative;
  min-height: 100vh;

  @include backgroundImage("../resources/mainPage/firstScreen/1.png", cover);

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
    z-index: 1;
  }

  &::before {
    background: rgba(0, 0, 0, 0.5) url(../resources/mainPage/firstScreen/pattern-dotted.svg) 0 0 repeat;
  }

  &__videoWrapper {
    position: relative;
    // opacity: 0.7;
    height: 100%;
    z-index: -1;

    &::before {
      background: rgba(0, 0, 0, 0.5) url(../resources/mainPage/firstScreen/pattern-dotted.svg) 0 0 repeat;
    }

    &_desktop {
      max-width: 50%;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      display: block;
      z-index: 1;
    }

    &::after {
      // background: linear-gradient(0deg, rgba(1, 27, 69, 0.5), rgba(1, 27, 69, 0.5));
    }
  }

  &__video {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }

  &::after {
    background: linear-gradient(0deg, rgba(1, 27, 69, 0.5), rgba(1, 27, 69, 0.5));
  }

  &__container {
    display: flex;
    // grid-template-columns: 2fr 1fr;
    align-items: center;
    min-height: 100vh;
    padding-top: 15rem;
    padding-bottom: 15rem;
    position: relative;
    z-index: 2;
  }

  &__column {
    color: #fdfefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 3rem;
  }

  &__title {
    font-weight: 500;
    font-size: 5rem;
    line-height: 110%;
    letter-spacing: 0.01em;
    margin-bottom: 3.5rem;
  }

  &__text {
    font-size: 2.4rem;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-bottom: 50px;
    max-width: 70rem;
  }

  &__buttonLinkWrapper {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(137px, max-content));
    gap: 3rem;
    margin-bottom: 4rem;
    // & :not(:last-child) {
    //   margin-right: 50px;
    // }
  }

  &__buttonLink {
    min-width: 13.7rem;
    min-height: 3.9rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    color: inherit;
    &_white {
      color: #333333;
      background-color: white;
    }
  }

  &__link {
    font-size: 2rem;
    color: #fdfefe;
    border-bottom: 1px solid white;
  }
}

@media (max-width: 1024px) {
  .firstScreen {
    &__title {
      font-size: 3.6rem;
    }

    &__column,
    &__videoWrapper_mobile {
      margin: 0 0 5rem 0;
    }
    &__column {
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    &__buttonLinkWrapper {
      justify-content: center;
    }
    &__text {
      font-size: 2rem;
      // margin-bottom: 50px;
    }

    &__buttonLink {
      font-size: 1.4rem;
    }

    &__link {
      font-size: 1.6rem;
    }

    &__video {
      max-width: 80rem;
      width: 100%;
      // object-fit: cover;
    }

    &__container {
      flex-direction: column;
      padding-top: 13rem;
      padding-bottom: 10rem;
    }
  }
}

@media (max-width: 480px) {
  .firstScreen {
    &__container {
      padding-top: 10rem;
      padding-bottom: 5rem;
    }
    &__title {
      font-size: 2.4rem;
    }

    &__column,
    &__videoWrapper_mobile {
      margin: 0 0 3rem 0;
    }

    &__text {
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }

    &__buttonLink {
      font-size: 1.4rem;
    }

    &__link {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 360px) {
  .firstScreen {
    &__text {
      font-size: 1.6rem;
    }

    &__buttonLink {
      font-size: 1.4rem;
    }

    &__link {
      font-size: 1.4rem;
    }
  }
}
