.partners {
  padding-bottom: 15rem;
  &__container {
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
  }

  &__image {
    margin: 2.5rem 3.5rem;
    max-width: 18rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 768px) {
  .partners {
    &__image {
      margin: 2rem;
      max-width: 10rem;
    }
  }
}

@media (max-width: 480px) {
  .partners {
    &__image {
      margin: 1rem;
      max-width: 8rem;
    }
  }
}
